* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}

.main {
  max-width: 1920px;
}

.header {
  height: 1080px;
  margin-bottom: 50px;
}

.header-bg {
  left: -240px;
  top: -12px;
}

.logo {
  position: absolute;
  width: 365px;
  height: 253px;
  left: 102px;
  top: 11px;
}

.spotify {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 1700px;
  top: 51px;
}
.intro {
  margin: auto;
  width: 1196px;
  height: 274px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.01em;
}

.title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.02em;
  color: #e5e5e5;
}

.horan {
  height: 550px;
  min-width: 1920px;
  background-color: #697d86;
  display: flex;
}

#niall {
  position: relative;
  width: 477px;
  height: 511px;
  left: 102px;
  top: 10px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
}

#titleHoran,
#titleStyles {
  position: absolute;
  left: 608px;
}

.borderHoran,
.borderStyles {
  position: relative;
  height: 438px;
  width: 776px;
  left: 110px;
  top: 75px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.payne {
  display: flex;
  height: 700px;
}

#liam {
  position: relative;
  width: 477px;
  height: 601px;
  left: 1330px;
  top: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
}

#titlePayne {
  position: relative;
  left: 420px;
  top: 40px;
  color: #697d86;
}

.borderPayne,
.borderTomlinson {
  position: relative;
  width: 785px;
  height: 528px;
  right: 360px;
  top: 123px;
  border: 1px solid #697d86;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #697d86;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.styles {
  display: flex;
  height: 650px;
  background-color: #697d86;
}

#harry {
  position: relative;
  left: 102px;
  top: 30px;
  width: 477px;
  height: 593px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
}

.borderStyles {
  height: 546px;
}

.tomlinson {
  display: flex;
  background-color: chartreuse;
  height: 880px;
}

#louis {
  position: relative;
  width: 477px;
  height: 720px;
  left: 1330px;
  top: 88px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
}

#titleTomlinson {
  position: relative;
  left: 240px;
  top: 40px;
  color: #697d86;
}
.borderTomlinson {
  right: 540px;
  height: 680px;
}
