* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}

.main {
  max-width: 1920px;
}

.header {
  height: 1080px;
  margin-bottom: 50px;
}

.header-bg {
  left: -240px;
  top: -12px;
}

.logo {
  position: absolute;
  width: 365px;
  height: 253px;
  left: 102px;
  top: 11px;
}

.spotify {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 1700px;
  top: 51px;
}
p.intro {
  margin: auto;
  width: 1196px;
  height: 274px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.01em;
}
